## General
# ENVIROMENT=development
# LOG_LEVEL=
# LOG_DRAIN_URL=
SCHEME=http
# AUTHORITY=localhost:3000

## Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="random_long_enough_secret"
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

## Connections
DATABASE_URL="postgres://app_dev:dev_password@localhost:5433/dev"
DIRECT_DATABASE_URL="postgres://app_dev:dev_password@localhost:5433/dev"

## Provider API keys
OPENAI_API_KEY=
# ANTHROPIC_API_KEY=
# XAI_API_KEY=
# GOOGLE_GENERATIVE_AI_API_KEY=
# AZURE_API_KEY=
# AZURE_RESOURCE_NAME=
# PERPLEXITY_API_KEY=
# FIREWORKS_API_KEY=

# AZURE_GPT41_API_KEY=
# AZURE_GPT41_RESOURCE_NAME=

## AWS
# AWS_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_UPLOADS_BUCKET=
# AWS_CLOUDFRONT_KEY_PAIR_ID=
# AWS_CLOUDFRONT_PRIVATE_KEY=

## JWT
JWT_SECRET=random-long-enough-secret
